<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mon beau projet{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>


{% block header %} {% endblock %}

{% include 'flash_messages.html' %}
<br>
<a href="{{ url_for('home_dans_routes_pour_exemple_hommage_m_el_vyn_mal_herbe') }}">Home</a>

<a href="{{ url_for('type_afficher') }}">Types</a>

<a href="{{ url_for('exercice_afficher') }}">Exercice</a>

<a href="{{ url_for('type_exercice_afficher') }}">Types et Exercices</a>

<a href="{{ url_for('personnes_taille_dict') }}">Démo pour les ERREURS</a>

<br>
{% block body %}{% endblock %}


{% block javascript %}{% endblock %}
</body>
</html>