{% extends "base.html" %}
{% block title %} Afficher TYPES {% endblock %}
{% block body %}
        <br>
        <table border="1" cellpadding="5" cellspacing="5">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Genre</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            {% for row in data %}
                <tr>
                    <td>{{ row.id_TypeExercice }}</td>
                    <td>{{ row.Type_TypeExercice }}</td>
                    <td> <a href="{{ url_for('type_add') }}">Add</a> </td>
                    <td> <a href="{{ url_for('type_edit', id_type_edit_html=row.id_TypeExercice) }}">Edit</a> </td>
                    <td> <a href="{{ url_for('type_select_delete', id_type_delete_html=row.id_TypeExercice) }}">Delete</a> </td>
                </tr>
            {% endfor %}
        </table>
{% endblock %}

