{% extends "base.html" %}
{% block title %} Ajouter un TYPE{% endblock %}
{% block body %}
    <div class="home">
        <BODY bgcolor="brown">
        <form method="POST" action="">
            <div>
                {% if error %}
                    <p class=error><strong>Error:</strong> {{ error }}
                {% endif %}
            </div>
            <center>
                <H1>Clavioter un nouveau TYPE</H1> <br>
                Nom genre <input type = "text" name= "name_type_html" /> <br>
                <input type = "submit" value="Enregistrer le type">
            </center>
        </form>
        </BODY>
    </div>
{% endblock %}