{% extends "base.html" %}
{% block title %} Ajouter un EXERCICE{% endblock %}
{% block body %}
    <div class="home">
        <BODY bgcolor="brown">
        <form method="POST" action="">
            <div>
                {% if error %}
                    <p class=error><strong>Error:</strong> {{ error }}
                {% endif %}
            </div>
            <center>
                <H1>Ajouter un nouvel Exercice</H1> <br>
                Nom  <input type = "text" name= "name_exercice_html" /> <br>
                Visuel <input type = "text" name="visueL_exercice_html" /><br>
                Description <input type="text" name="description_exercice_html" /><br>
                <input type = "submit" value="Enregistrer le type">
            </center>
        </form>
        </BODY>
    </div>
{% endblock %}
