{% extends "base.html" %}
{% block title %} Afficher EXERCICES {% endblock %}
{% block body %}
    <div class="home">
        
        <form method="POST" action="">

        <div>
            {{ msgHtml }}
        </div>
        <br>
        <table border="1" cellpadding="5" cellspacing="5">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Visuel</th>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>E</th>
                    <th>D</th>
                    <th>A</th>
                </tr>
            </thead>
            {% for row in data %}
                <tr>
                    <td>{{ row.id_Exercice }}</td>
                    <td><img src={{ row.Visuel_Exercice|default("", True) }} style="width:auto;max-height: 465px;" alt = "Covid-19 grand semi-confinement mod 104"></td>
                    <td>{{ row.Nom_Exercice}}</td>
                    <td>{{ row.Description_Exercice|default("", True) }}</td>
                    <td> <a href="{{ url_for('avertissement_sympa_pour_geeks') }}">Edit</a> </td>
                    <td> <a href="{{ url_for('avertissement_sympa_pour_geeks') }}">Delete</a> </td>
                    <td> <a href="{{ url_for('exercice_add') }}">Add</a> </td>
                </tr>
            {% endfor %}
        </table>
        </form>
        
    </div>
{% endblock %}